@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.chpc{

	background-color: white;
	height: 90%;
	display: flex;
	flex-direction: column;
row-gap: 3rem;
	& h2{
		margin-top: -3rem;
			font-size: 2rem;
			font-family: "Poppins", sans-serif;
			font-weight: 400;
			font-style: normal;
			color: black;

		}
}
.chpm{
		border-radius: 0.3rem;

	box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
border: none;
			background-color: rgb(237, 243, 248);
	color: rgb(85, 204, 237);
	& form input{
		color: black;
		border-bottom-color:#d5e1f5;
	}
	& form button{
		background-color:  #5098e5d7;;
	}
& .input-div{

	text-align: center;
height: 5.3rem;
& label
{
	font-size: 1.5rem;
	position: absolute;
	left: 10%;
transition: 0.5s;

}
& #i{
	position: absolute;
	left: 82%;
margin-top: 0.15rem;
transition: 0.5s ease-in-out;
cursor: pointer;
	font-size: 1.8rem;
	color: rgba(174, 106, 238, 0.935);
}

}
}

@media (max-width:580px){
	 .chpc{
height: 95%;
}
}
@media (max-width:380px){
	 .chpc{
height: 98%;
}
}