.headdiv{
	& h1{
		font-size: 4rem;
		color: rgb(244, 90, 1);

	}
	padding-top:2rem ;
	padding-bottom: 4rem;
}
.input-section{
	
	padding: 2.5rem 0;
	display: flex;
	justify-content:center;
	align-items: center;
row-gap: 1rem;
	flex-direction: column;
	.input{
		
		display: flex;
	justify-content:center;
	align-items: center;
	position: relative;
	& input{
		width: 27rem;
		padding: 0.5rem 2rem 0.5rem 0.8rem;
		border-radius: 0.8rem;
		outline: none;
		border: none;
		font-size: 1.6rem;
		background-color:rgba(171, 196, 224, 0.756);
		color: black;
		font-family:sans-serif;
		/*filter: blur(0.1rem);*/
	}
	& i{
		position: absolute;
		left: 88%;
		font-size: 1.7rem;
		cursor: pointer;
		
	}
	& #fsearch{
		opacity: 0;
	}
	}
}


@media (max-width: 390px) {

	.input-section {
			& .input {
					& input{
			background-color:rgba(171, 196, 224, 0.512);
		
	}
	}
}
}
@media (max-height: 390px) {

	.input-section {
			& .input {
					& input{
			background-color:rgba(171, 196, 224, 0.512);

	}
	}
}
}

.filterby{

	display: flex;
	justify-content:center;
	align-items: center;
	column-gap: 1.2rem;
	
	& p{

		font-size: 1.5rem;
		font-weight: bold;
		color: rgb(248, 247, 247);
	

	}
	& select{
		padding: 0.1rem 1rem;
		font-size: 1.2rem;
	}
}
